.main {
    text-align:center;
}

.player {
    border: .2em solid black;
    border-radius: 12px;
    padding: 1em;
	display:inline-block;
    margin: 5% 3%;
}

.winner {
	background-color: #16EA19;
}

.draw {
	background-color: #C1C0B0;
}

.scorekeeper {
	border: .2em solid black;
	border-radius: 12px;
	padding: 1em;
	
}